
header{
   background-color: rgb(78, 75, 75);
 
}
body header img{
    margin: 15px 15px 10px 90px;
       /* display: inline;
  */
  /* position: absolut; */
   
}
/* body img,li{
    display: inline-block;
    display:inline;
    float:right;

} */
body header ul{
    position: absolute;
    left: 100px;
    top: 35px;
    color: rgb(209, 209, 209);
   
}
body header li{
    display: inline-block;
   font-family: Arial, Helvetica, sans-serif;
   
     
}
    
body header ul li:nth-child(1){
  
 padding: 0px 15px 5px 220px;
}

body header ul li:nth-child(2){
    padding: 5px 15px 5px 70px;
   
   }
   body header ul li:nth-child(3){
    padding: 5px 15px 5px 70px;
   
   }
   body header ul li:nth-child(4){
    padding: 5px 15px 5px 70px;
   
   }

main {

margin-top: 20px ;
margin-left: 90px;



}
div{
    margin-top: 20px ;
   
margin-bottom: 20px;
 column-gap: 30px;
}
sub:nth-child(1){
     margin-left: 90px;
    
    margin-right: 27px;
}
sub:nth-child(2){
    
   
   margin-right: 27px;
}
section{
    display: inline-block;
}

body section img{
    margin-left: 90px;

}

body section span{
    position: absolute;
    left: 5px;
    top: 990px;
    display: block;
    margin-left: 600px;
}
h2{
    font-size: larger;
}
body section p {
    overflow: hidden;
    font-style: italic;
     width: 450px;
     height: 340px;
}
button{
    color: white;
    background-color: black;
    border-radius: 5px;
    margin-top: 5px;
    width: 150px;
   height: 30px; 
}
footer{
    background-color: rgb(78, 75, 75);
margin-top: 15px;
width:100%;
  height:10%; 
  position:absolute;
}

